target/
.DS_Store
*.tar.bz2
!web/test/*.tar.bz2
*.tar.gz
*.out.*
logs
project/project
project/target
target
tmp
.history
dist
web/out
web/.classpath
web/.project
web/.settings
*~
/elasticsearch*
/web/*activator*
