target/
.DS_Store
*.tar.bz2
!test/*.tar.bz2
*.tar.gz
*.out.*
logs
project/project
project/target
target
tmp
.history
dist
out
.classpath
.project
.settings/org.scala-ide*
*~
elasticsearch*
*activator*
